:root {
    /* 标题 */
    --vp-home-hero-name-color: #9f8361;

     /* brand按钮 */
    /* --vp-button-brand-border: #b89972; */
    --vp-button-brand-text: #fff;
    --vp-button-brand-bg: #d4c6ae;

   /* --vp-button-brand-hover-border: #b89972;*/
    --vp-button-brand-hover-text: #fff;
    --vp-button-brand-hover-bg: #d4c6ae;

    --vp-button-brand-active-bg: #d4c6ae;

    /* alt按钮 */
    /* --vp-button-alt-border: #d4c6ae; */
    --vp-button-alt-text: #fff;
    --vp-button-alt-bg: #b89972;

    /* --vp-button-alt-hover-border:#d4c6ae ; */
    --vp-button-alt-hover-text: #fff;
    --vp-button-alt-hover-bg: #b89972;

    --vp-button-alt-active-bg: #b89972;

    /* 主题基色 */
    --vp-c-brand-1: #9f8361;
    /* --vp-c-brand-1-light: #d4c6ae;
    --vp-c-brand-1-dark: #dbb1b1; */

    --vp-c-brand-2: #dbb1b1;
    /* --vp-c-brand-2-light: #d4c6ae;
    --vp-c-brand-2-dark: #dbb1b1; */

    --vp-c-brand-3: #d4c6ae;
    /* --vp-c-brand-3-light: #d4c6ae;
    --vp-c-brand-3-dark: #dbb1b1;
  } */
